// @import "Invoice";

$rhythm: 20px;

$invoiceMaxWidth: 800px;
$borderRadius: 4px;

$tableBorderColor: #ccc;
$boxBgColor: #eee;
$bgColor: #f8f9fc;
$addColor: darkgreen;
$removeColor: darkred;

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency {
  text-align: right;
  word-break: break-word;
}
.invoice {
  // max-width: $invoiceMaxWidth;
  // margin: ($rhythm * 2) auto;
  position: relative;
  top: 0;
  // border: 1px solid $tableBorderColor;
  padding: $rhythm;
  // border-radius: $borderRadius;
  background: $bgColor;
  // z-index: 100;
  overflow-y: scroll;
  scrollbar-width: none;
}

.brand {
  margin-bottom: $rhythm ;
  .logo {
    display: inline-block;
    border-radius: $borderRadius;
  }
}

.addresses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: left;
  .from,
  .to {
    padding: $rhythm/2;
    border-radius: $borderRadius;
    width: 100%;
    font-size: 10px;
    max-width: $invoiceMaxWidth / 3;
  }
  .from {
    display: block;
    font-style: normal;
    margin-right: $rhythm / 2;
    background: #efefef;
    font-size: 10px;
    border: 1px solid $tableBorderColor;
  }
  .to {
    display: block;
    margin-left: $rhythm / 2;
    padding: 0;
    .value {
      text-align: right;
      font-size: 10px;
    }
  }
  .address {
    display: block;
  }
}

.valueTable {
  margin: 0 0 0 auto;
  border: 1px solid $tableBorderColor;
  border-radius: $borderRadius;
  overflow: hidden;
  width: 100%;
  min-width: $invoiceMaxWidth / 3;
  max-width: $invoiceMaxWidth / 3;
  & > .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid $tableBorderColor;
    height: 30px;
    &:last-of-type {
      border-bottom: none;
    }
    & > div {
      padding: ($rhythm/2);
    }
    & > .label {
      @extend %flex-center;
      justify-content: flex-start;
      font-weight: bold;
      font-size: 10px;
    }
  }
}

.totalContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pay {
  display: flex;
  justify-content: flex-end;
  padding: ($rhythm * 1) 0 ($rhythm) $rhythm;
}

button.payNow {
  display: block;
  padding: ($rhythm) ($rhythm * 2);
  background: lightyellow;
  border-radius: $borderRadius;
  border: 1px solid #444;
}

.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 10px;
  .comments {
    padding: $rhythm;
    border-radius: $borderRadius;
    h4,
    h5 {
      margin-top: 0;
      margin-bottom: $rhythm / 2;
    }
  }
  .comments {
    text-align: left;
  }
  .closing {
    padding-top: $rhythm;
  }
}
.invoice::-webkit-scrollbar{
  display: none;
}
